<div class="card card-default">
    <div class="content-heading">
        <div class="row">
            <div class="col-md-12">
                <h3 style="margin-top: 20px; margin-left: 15px">Usuários Cadastrados</h3>
            </div>
        </div>

        <div class="row" style="margin-left: 5px">
            <div class="col-md-12">
                <button type="button" class="btn btn-sm btn-success" style="margin-right: 5px;" routerLink="users/form">Cadastrar novo usuário</button>
                <button type="button" class="btn btn-sm btn-danger" style="margin-left: 5px;" (click)="inactiveAllUsers()">Inativar todos os usuários</button>
            </div>
        </div>
    </div>

    <!-- Formulário dos filtros -->
    <form [formGroup]="userFiltersFormGroup">
        <div class="row">
            <div class="col-md-12">
                <div class="card card-default form-outline" style="margin-top: 20px; margin-left: 15px; margin-right: 15px; padding: 10px;">
                    <h5>Filtros de usuários</h5>
            
                    <div class="row">
                        <div class="col-md-3">
                            <label>Nome</label>
                            <input type="search" class="form-control" placeholder="Texto contido no nome" aria-label="Search" formControlName="name"/>
                        </div>
            
                        <div class="col-md-3">
                            <label>CPF</label>
                            <input type="search" class="form-control" placeholder="Números contidos no cpf" aria-label="Search" formControlName="cpf"/>
                        </div>
            
                        <div class="col-md-3">
                            <label>Login</label>
                            <input type="search" class="form-control" placeholder="Texto contido no login" aria-label="Search" formControlName="login"/>
                        </div>
            
                        <div class="col-md-3">
                            <label>Status</label>
                            <select class="form-select form-control form-select-sm fadeIn second" formControlName="status" style="margin-top: 5px; margin-bottom: 10px;">
                                <option value="Ativo">Ativo</option>
                                <option value="Inativo">Inativo</option>
                                <option value="Bloqueado">Bloqueado</option>
                                <option value="">Todos</option>
                            </select>
                        </div>
                    </div>

                    <div class="row" style="margin-top: 5px;">
                        <div class="col-md-2">
                            <label>Idade</label>
                            <select class="form-select form-control form-select-sm fadeIn second" placeholder="Idade" formControlName="ageScale" style="margin-top: 5px; margin-bottom: 10px;">
                                <option value="">Todas</option>
                                <option value="Between18And26">Maior que 18 e menor que 26</option>
                                <option value="Between25And31">Maior que 25 e menor que 31</option>
                                <option value="Between30And36">Maior que 30 e menor que 36</option>
                                <option value="Between35And41">Maior que 35 e menor que 41</option>
                                <option value="GreaterThan40">Maior que 40</option>
                            </select>
                        </div>

                        <div class="col-md-4">
                            <label>Período de criação</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="date" class="form-control fadeIn second" formControlName="createdAtStart" placeholder="Início" style="margin-top: 5px; margin-bottom: 10px;">
                                </div>
    
                                <div class="col-md-6">
                                    <input type="date" class="form-control fadeIn second" formControlName="createdAtEnd" placeholder="Fim" style="margin-top: 5px; margin-bottom: 10px;">
                                </div>
                            </div>
                        </div>

                        <div class="col-md-4">
                            <label>Período de atualização</label>
                            <div class="row">
                                <div class="col-md-6">
                                    <input type="date" class="form-control fadeIn second" formControlName="updatedAtStart" placeholder="Início" style="margin-top: 5px; margin-bottom: 10px;" >
                                </div>
    
                                <div class="col-md-6">
                                    <input type="date" class="form-control fadeIn second" formControlName="updatedAtEnd" placeholder="Fim" style="margin-top: 5px; margin-bottom: 10px;" >
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2" style="margin-top: 28px;">
                            <div class="btn-group" container="body" dropdown #dropdown="bs-dropdown" [autoClose]="true">
                                <button id="button-export" dropdownToggle type="button" 
                                   class="btn btn-secondary dropdown-toggle"
                                   aria-controls="dropdown-export">
                                   Exportar <span class="caret"></span>
                                </button>
                                <ul id="dropdown-export" *dropdownMenu class="dropdown-menu"
                                   role="menu" aria-labelledby="button-export">
                                   <li role="menuitem"><a class="dropdown-item">Excel</a></li>
                                   <li role="menuitem"><a class="dropdown-item">PDF</a></li>
                                   <li role="menuitem"><a class="dropdown-item" (click)="exportAsDocx()">Word</a></li>
                                </ul>
                             </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <!-- Tabela dos usuários -->
    <div class="card-body table-responsive">  
        <ngx-datatable
            class='material'
            [columnMode]="'force'"
            [footerHeight]="50"
            [rowHeight]="'auto'"
            [externalPaging]="true"
            [loadingIndicator]="usersPage.loading"
            [rows]='usersPage.rows'
            [count]="usersPage.totalElements"
            [offset]="usersPage.pageNumber"
            [limit]="usersPage.size"
            [messages]="{emptyMessage: 'Não há usuários para os filtros escolhidos', totalMessage: 'total'}"
            (page)="getUsers($event)"
        >
            <ngx-datatable-column name="name" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                    Nome
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>
            
            <ngx-datatable-column name="login" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                    Login
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="email" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                    Email
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="phoneNumber" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                    Telefone
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="cpf" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                    CPF
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="birthDate" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                    Data de nascimento
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="motherName" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                    Nome da mãe
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="status" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                    Status
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    {{value}}
                </ng-template>
            </ngx-datatable-column>

            <ngx-datatable-column name="status" [sortable]="false">
                <ng-template let-column="column" ngx-datatable-header-template>
                    Ações
                </ng-template>
                <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
                    <div class="btn-group" container="body" dropdown #dropdown="bs-dropdown" [autoClose]="true">
                        <button id="button-basic" dropdownToggle type="button" 
                           class="btn btn-light dropdown-toggle"
                           aria-controls="dropdown-basic">
                           Ações <span class="caret"></span>
                        </button>
                        <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu"
                           role="menu" aria-labelledby="button-basic">
                           <li role="menuitem"><a class="dropdown-item" routerLink="users/form/{{row?.id}}">Editar</a></li>
                           <li class="divider dropdown-divider"></li>
                           <li *ngIf="value !== 'Inativo'" role="menuitem"><a class="dropdown-item" (click)="changeUserStatus(row, 'Inactive')">Inativar</a></li>
                           <li *ngIf="value !== 'Bloqueado'" role="menuitem"><a class="dropdown-item" (click)="changeUserStatus(row, 'Blocked')">Bloquear</a></li>
                           <li *ngIf="value !== 'Ativo'" role="menuitem"><a class="dropdown-item" (click)="changeUserStatus(row, 'Active')">Ativar</a>
                           </li>
                        </ul>
                    </div>
                </ng-template>
            </ngx-datatable-column>
        </ngx-datatable>    
    </div>    
</div>    